.indiv-book-container {
    margin: 0.5vw;
    width: 8vw;
    padding: 0.5vw;
    min-height: 12vw;
    border-radius: 0.25vw;
    display: grid;
    justify-items: center;
    align-content: space-between;

}
.book-cover {
    max-height: 8vw;
    height: auto;
    max-width: 10vw;
    width: auto;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: inherit;
    font-size: 0.75vw;
    text-wrap: wrap;
}

.author {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: inherit;
    font-size: 0.5vw;
    text-wrap: wrap;
}

.below-book-content {
    background-color: #ffffff;
    margin-top: 0.5vw;
    color: #553b08;
    font-size: x-small;
}