.book-cover-horizontal {
    max-height: 10vw;
    height: auto;
    max-width: 8vw;
    width: auto;
    margin: 0.75vh;
}

.title-horizontal {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: inherit;
    font-size: 1.2vw;
    text-wrap: wrap;
    text-align: center;
}

.author-horizontal {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: inherit;
    font-size: 1vw;
    text-wrap: wrap;
    text-align: center;
}

.below-book-content-horizontal {
    background-color: #ffffff;
    margin-top: 1vw;
    color: #553b08;
    font-size: x-small;
    text-align: center;
}