.book-cover {
    max-height: 10vw;
    height: auto;
    max-width: 8vw;
    width: auto;
    margin: 0.75vh;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: inherit;
    font-size: 0.75vw;
    text-wrap: wrap;
    text-align: center;
}

.author {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: inherit;
    font-size: 0.5vw;
    text-wrap: wrap;
    text-align: center;
}

.below-book-content {
    background-color: #ffffff;
    margin-top: 0.5vw;
    color: #553b08;
    font-size: x-small;
    text-align: center;
}