.shelf {
  width: 65vw;
  margin-top: 0.5vw;
  margin-bottom: 1vw;
  margin-left: 2vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  border-radius: 0.25vw;
  align-items: flex-start;
  border-style: solid;
  border-color: #75420e;
  color: 	#553b08;
}

.shelf-content {
  display: flex;
  width: 100%;
}
.books-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 90%;
  display: flex;
}

::-webkit-scrollbar {
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0.5vw;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5vw;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.shelf-title {
  padding-left: 1vw;
  margin: 0;
}

.shelf-count {
  padding-left: 1vw;
  margin: 1;
  font-size: x-small;
  color: #907564;
}